---
import { Image } from 'astro:assets';

interface Props {
  imageMeta: ImageMetadata;
  title: string;
  url: string;
  tags: string[];
  description: string;
}

const { imageMeta, title, url, tags, description } = Astro.props;
---

<a href={url} data-aos="fade-up" target="_blank">
  <div
    class="group h-full bg-primary-light p-6 shadow-[0_0_15px_rgba(0,0,0,0.3)]
  transition-shadow duration-300
  hover:shadow-[0_0_20px_10px_rgba(255,74,87,0.6)]"
  >
    <div class="mb-4 lg:h-32">
      <Image class="h-full object-cover" src={imageMeta} alt={title} />
    </div>
    <h3 class="mb-2 font-semibold text-secondary">{title}</h3>
    <p
      class="mb-4 w-fit decoration-secondary underline-offset-[6px] group-hover:underline"
    >
      {description}
    </p>
    <ul class="flex flex-wrap gap-x-2">
      {
        tags.map((tag) => (
          <li>
            <span class="font-bold">#</span>
            <span>{tag}</span>
          </li>
        ))
      }
    </ul>
  </div>
</a>
