---
import { Image } from 'astro:assets';
import BannerSocialLink from '~/components/Banner/SocialLink.astro';
import imageBanner from '~/assets/images/banner/banner-md.jpg';
import imageMe from '~/assets/images/me.jpg';
import iconGithub from '~/assets/images/icons/github.svg';
import iconLinkedin from '~/assets/images/icons/linkedin.svg';
import iconEmail from '~/assets/images/icons/email.svg';
import iconWrite from '~/assets/images/icons/write.svg';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="mb-14 overflow-hidden">
  <div class="relative">
    <div class="absolute left-0 top-0 h-full w-full bg-primary bg-opacity-40">
    </div>
    <Image
      src={imageBanner}
      class="h-[80vh] w-full object-cover"
      alt="banner"
    />
  </div>

  <div id="about" class="container" data-aos="fade-up">
    <div
      class="relative -mt-60 flex flex-col gap-8 bg-primary-light p-6 shadow-xl md:flex-row md:p-12"
    >
      <div>
        <h4 class="mb-4 inline-block bg-secondary px-3 py-1">Hello World!</h4>
        <h2 class="mb-1">{t('name')}</h2>
        <h3>{t('web_developer')}</h3>
        <hr class="my-4" />
        <p class="mb-2 text-lg">{t('self_intro_1')}</p>
        <p class="mb-2 text-lg">{t('self_intro_2')}</p>
        <p class="text-lg">{t('self_intro_3')}</p>
        <hr class="my-4" />
        <div class="flex justify-center gap-3">
          <BannerSocialLink
            title="Github"
            url="https://github.com/Link1515"
            imageMeta={iconGithub}
          />
          <BannerSocialLink
            title="LinkedIn"
            url="https://www.linkedin.com/in/link1515/"
            imageMeta={iconLinkedin}
          />
          <BannerSocialLink
            title="Email"
            url="mailto:mocliamglink@gmail.com"
            imageMeta={iconEmail}
            isTargetBlank={false}
          />
          <BannerSocialLink
            title="Blog"
            url="https://lynkishere.com"
            imageMeta={iconWrite}
          />
        </div>
      </div>
    </div>
  </div>
</section>
