---
import ProjectsCard from '~/components/Projects/Card.astro';
import imageUdnLibrary from '~/assets/images/projects/udn-library.jpg';
import imageTimeverse from '~/assets/images/projects/timeverse.jpg';
import imageWomanRight from '~/assets/images/projects/woman-right.jpg';
import imageUdnData from '~/assets/images/projects/udn-data.jpg';
import imageYungching from '~/assets/images/projects/yungching.jpg';
import imageCourse from '~/assets/images/projects/course.jpg';
import imageRedis from '~/assets/images/projects/redis.jpg';
import imageLinebot from '~/assets/images/projects/linebot.jpg';
import imagePomodoro from '~/assets/images/projects/pomodoro.jpg';
---

<section id="projects" class="container mb-14 pt-6">
  <h1 class="mb-8 text-center">Projects</h1>
  <div class="mx-auto grid max-w-[992px] gap-8 lg:grid-cols-3 lg:gap-12">
    <ProjectsCard
      title="UDN è®€æ›¸é¤¨"
      url="#"
      imageMeta={imageUdnLibrary}
      tags={['Nuxt', 'TypeScript', 'TailwindCSS']}
    />
    <ProjectsCard
      title="UDN æ™‚å…‰å®‡å®™"
      url="https://timeverse.udn.com/"
      imageMeta={imageTimeverse}
      tags={['Nuxt', 'SCSS']}
    />
    <ProjectsCard
      title="æ°¸é½¡åŸºé‡‘æœƒå°ˆæ¡ˆ"
      url="https://udn.com/upf/ubrand/2023_data/TheStranded_HER/"
      imageMeta={imageWomanRight}
      tags={['Astro', 'TailwindCSS', 'GSAP']}
    />
    <ProjectsCard
      title="æ°¸æ…¶æˆ¿å±‹å¾µæ–‡æ¯”è³½"
      url="https://event.udn.com/yccontest2023/"
      imageMeta={imageYungching}
      tags={['Astro', 'TailwindCSS']}
    />
    <ProjectsCard
      title="è¯åˆçŸ¥è­˜åº«é¦–é "
      url="https://udndata.com/ndapp/udntag/Index"
      imageMeta={imageUdnData}
      tags={['Astro', 'SCSS']}
    />
    <ProjectsCard
      title="å¼µæ·‘èŠ¬å…¬ç›Šèª²"
      url="https://udn.com/upf/ubrand/2022_data/charity_sharing"
      imageMeta={imageCourse}
      tags={['Astro', 'SCSS']}
    />
  </div>
</section>

<section class="container mb-14">
  <h1 class="mb-8 text-center">Side Projects</h1>
  <div class="mx-auto grid max-w-[992px] gap-8 lg:grid-cols-3 lg:gap-12">
    <ProjectsCard
      title="Redis åœ–ç‰‡å¿«å–"
      url="#"
      imageMeta={imageRedis}
      tags={['Express', 'TypeScript', 'Redis']}
    />
    <ProjectsCard
      title="è¶…ç´šæŽ’ ðŸ çƒå ´"
      url="https://github.com/Link1515/linebot-volleyballCourtFinding-php"
      imageMeta={imageLinebot}
      tags={['Typescript', 'PHP', 'Line SDK']}
    />
    <ProjectsCard
      title="è•ƒèŒ„é˜ Pomodoro"
      url="https://github.com/Link1515/vue-pomodoro"
      imageMeta={imagePomodoro}
      tags={['Vue', 'SCSS']}
    />
  </div>
</section>
