---
import ProjectsCard from '~/components/Projects/Card.astro';
import imageRedis from '~/assets/images/projects/redis.jpg';
import imageLinebot from '~/assets/images/projects/linebot.jpg';
import imagePackagist from '~/assets/images/projects/packagist.jpg';
import imageLynkishere from '~/assets/images/projects/lynkishere.jpg';
---

<section class="container mb-14 pt-6">
  <h1 class="mb-8 text-center">Side Projects</h1>
  <div class="mx-auto grid max-w-[992px] gap-8 lg:grid-cols-3 lg:gap-12">
    <ProjectsCard
      title="Redis åœ–ç‰‡å¿«å–"
      url="#"
      imageMeta={imageRedis}
      tags={['TypeScript', 'Express', 'Redis']}
    />
    <ProjectsCard
      title="è¶…ç´šæŽ’ ðŸ çƒå ´"
      url="https://github.com/Link1515/linebot-volleyballCourtFinding"
      imageMeta={imageLinebot}
      tags={['TypeScript', 'Express', 'Line SDK']}
    />
    <ProjectsCard
      title="è¶…ç´šæŽ’ ðŸ çƒå ´"
      url="https://github.com/Link1515/linebot-volleyballCourtFinding-php"
      imageMeta={imageLinebot}
      tags={['PHP', 'Silm', 'Line SDK']}
    />
    <ProjectsCard
      title="http-utils-php5"
      url="https://github.com/Link1515/http-utils-php5"
      imageMeta={imagePackagist}
      tags={['PHP', 'Packagist']}
    />
    <ProjectsCard
      title="db-utils-php5"
      url="https://github.com/Link1515/db-utils-php5"
      imageMeta={imagePackagist}
      tags={['PHP', 'Packagist']}
    />
    <ProjectsCard
      title="æŠ€è¡“éƒ¨è½æ ¼"
      url="https://lynkishere.com/"
      imageMeta={imageLynkishere}
      tags={['Web', 'Frontend', 'Backend']}
    />
  </div>
</section>
