---
import ProjectsCard from '~/components/Projects/Card.astro';
import imageLinebot from '~/assets/images/projects/linebot.jpg';
import imagePackagist from '~/assets/images/projects/packagist.jpg';
import imageLynkishere from '~/assets/images/projects/lynkishere.jpg';
import imageHexoTheme from '~/assets/images/projects/hexo-theme.jpg';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="container mb-14 pt-6">
  <h1 class="mb-8 text-center">Side Projects</h1>
  <div class="mx-auto grid max-w-[992px] gap-8 lg:grid-cols-3 lg:gap-12">
    <ProjectsCard
      title={t('project.super_volleyball_court_node.title')}
      url="https://github.com/Link1515/linebot-volleyballCourtFinding"
      imageMeta={imageLinebot}
      description={t('project.super_volleyball_court_node.description')}
      tags={['TypeScript', 'Express', 'Line SDK']}
    />
    <ProjectsCard
      title={t('project.super_volleyball_court_php.title')}
      url="https://github.com/Link1515/linebot-volleyballCourtFinding-php"
      imageMeta={imageLinebot}
      description={t('project.super_volleyball_court_php.description')}
      tags={['PHP', 'Silm', 'Line SDK']}
    />
    <ProjectsCard
      title={t('project.http_utils_php5.title')}
      url="https://github.com/Link1515/http-utils-php5"
      imageMeta={imagePackagist}
      description={t('project.http_utils_php5.description')}
      tags={['PHP', 'Packagist']}
    />
    <ProjectsCard
      title={t('project.db_utils_php5.title')}
      url="https://github.com/Link1515/db-utils-php5"
      imageMeta={imagePackagist}
      description={t('project.db_utils_php5.description')}
      tags={['PHP', 'Packagist']}
    />
    <ProjectsCard
      title={t('project.blog.title')}
      url="https://lynkishere.com"
      imageMeta={imageLynkishere}
      description={t('project.blog.description')}
      tags={['Web', 'Frontend', 'Backend']}
    />
    <ProjectsCard
      title={t('project.hexo_theme.title')}
      url="https://github.com/Link1515/hexo-bootstrap-theme"
      imageMeta={imageHexoTheme}
      description={t('project.hexo_theme.description')}
      tags={['EJS', 'Bootstrap']}
    />
  </div>
</section>
